<h1>Ajout Fiches Contact</h1>
</br>
<p id="notice"><%= notice %></p>

<table class="table table-bordered table-striped">
  <tr>
    <td><h3>Ajout fichier xlsx </h3></td>
    <td><%= link_to "Plus", new_resume_path, class: "btn btn-primary btn-lg  btn-block" %></td>
  </tr>
    <td>
     <h3>Liste Utilisateurs</h3>
    </td>
    <td>
      <%= link_to "Lire", users_path, class: "btn btn-info btn-lg  btn-block" %>
    </td>
  <tr>
    <td>
      <h3>Liste Fichiers</h3>
    </td>
    <td>
      <%= link_to "Lire", resumes_path, class: "btn btn-info btn-lg  btn-block" %>
    </td>
  </tr>
</table>



